<div class="bg-light p-3" style="min-width: 250px; height: 100vh;">
    <ul class="nav flex-column">
      <li class="nav-item"><a class="nav-link" routerLink="/admin/dashboard">Dashboard</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/admin/users">Users</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/admin/add-user">Add User</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/admin/favourite-users">Favourite Users</a></li>
    </ul>
  </div>