.navbar {
    padding: 10px;
  }
  
  .nav-item a {
    color: white;
  }
  
  .nav-item a:hover {
    color: #f39c12;
  }
  
  .btn-warning {
    background-color: #f39c12;
    border: none;
  }
  
  .btn-warning:hover {
    background-color: #e67e22;
  }
  